<h1 class="text-center mb-5">Dogs</h1>
<i class="fa-solid fa-dog"></i>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non praesentium rerum id itaque consequuntur dolore odit, assumenda
  sequi, optio nisi mollitia distinctio eius et totam nulla modi labore ipsum ad soluta! Placeat, deleniti dolorum repellendus
  voluptates iure id ullam expedita repudiandae aspernatur at natus dicta? Cupiditate commodi nihil est eligendi earum corrupti
  totam velit non exercitationem. Blanditiis architecto veniam fuga repellendus harum, enim a distinctio tempore fugit
  exercitationem, deserunt libero ex facere possimus quod odio esse minima eius quos nobis corrupti quasi ut. A illo eaque illum
  nemo magnam quod quidem laudantium accusamus, eius optio veniam reprehenderit nesciunt quibusdam. Corrupti quibusdam
  reprehenderit velit nemo voluptatem quas repudiandae, reiciendis error aspernatur quam autem exercitationem ipsam iste sapiente
  consequuntur, eveniet qui officia ratione neque veniam molestiae rerum accusamus. Eos rerum sunt voluptate excepturi. Animi
  magnam fuga odio nulla quam ad, dicta vero est consequuntur, officia facere explicabo harum laborum rem ab deserunt fugiat magni
  atque nesciunt provident architecto. Eos sunt delectus aliquam, molestias sequi dolore blanditiis fugiat quaerat repellat labore
  repellendus praesentium reiciendis fugit magnam maiores, sapiente, tenetur natus doloremque veritatis. Illo adipisci facere
  nostrum quo reiciendis, voluptates tempore voluptatem at mollitia dicta, quas similique porro! Vero ad repellat doloremque
  placeat ipsum?
</p>
